.navbar {
  height: 64px;
  width: 100%;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #0f172a; /* azul escuro industrial */
  color: #ffffff;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/* ---------- LEFT ---------- */
.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 120px;
  cursor: pointer;
  object-fit: contain;
}

/* ---------- RIGHT ---------- */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ---------- BUTTONS ---------- */
.nav-btn {
  padding: 8px 18px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;

  border: none;
  cursor: pointer;

  background: #2563eb;
  color: #ffffff;

  transition: all 0.25s ease;
}

.nav-btn:hover {
  background: #1d4ed8;
}

/* botão outline (Registrar) */
.nav-btn.outline {
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
}

.nav-btn.outline:hover {
  background: #2563eb;
  color: #ffffff;
}

/* Nome do usuário */
.user-name {
  margin-right: 8px;
  font-size: 14px;
  color: #e5e7eb;
  opacity: 0.9;
}

/* botão sair */
.nav-btn.logout {
  background: transparent;
  border: 1px solid #ef4444;
  color: #ef4444;
}

.nav-btn.logout:hover {
  background: #ef4444;
  color: #ffffff;
}
